* {
    font-family:  FiraSans, SpaceMono Nerd Font , FontAwesome, JetbrainsMono NerdFont, Roboto, Helvetica, Arial, sans-serif;
    font-size: 13px;
    font-weight: 500;
}

window#waybar {
    background-color: rgba(17, 17, 27, 0.8);
    border-bottom: 1px solid rgba(100, 114, 125, 0.1);
    color: #cdd6f4;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

button {
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -3px transparent;
    /* Avoid rounded borders under each button name */
    border: none;
    border-radius: 0;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
    background: inherit;
    box-shadow: inset 0 -3px #ABB2BF;
}

#workspaces button {
    padding: 0 5px;
    background-color: transparent;
    color: #bac2de;
}

#workspaces button:hover {
    background: rgba(0, 0, 0, 0.2);
}

#workspaces button.active {
    color: #94e2d5;
    background-color: transparent;
    box-shadow: inset 0 -3px #94e2d5;
}

#workspaces button.persistent{
    background-color: transparent;
    color: #45475a;
}

#workspaces button.focused {
    color: #94e2d5;
    background-color: #1e1e2e;
    box-shadow: inset 0 -3px #bac2de;
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}

#clock,
#battery,
#backlight,
#network,
#pulseaudio,
#custom-media,
#tray{
    padding: 0 10px;
    /* color: #cdd6f4; */
}

#workspaces {
    margin: 0 4px;
}

#clock {
    box-shadow: inset 0 -3px #f5e0dc;
}

#clock.date{
    box-shadow: inset 0 -3px #f2cdcd; 
}

#battery {
    box-shadow: inset 0 -3px #a6e3a1;
}

#battery.charging, #battery.plugged {
    box-shadow: inset 0 -3px #a6e3a1;
}

@keyframes blink {
    to {
        background-color: #cdd6f4;
        color: #11111b;
    }
}

#battery.critical:not(.charging) {
    background-color: #f38ba8;
    color: #cdd6f4;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

label:focus {
    background-color: #11111b;
}

#backlight {
    /* background-color: #eba0ac; */
    box-shadow: inset 0 -3px #eba0ac;
}

#network {
    /* background-color: #89b4fa; */
    box-shadow: inset 0 -3px #89b4fa;
}

#pulseaudio {
    /* background-color: #fab387; */
    box-shadow: inset 0 -3px #fab387;
}

#network.disconnected,
#pulseaudio.muted,
#pulseaudio.microphone.source-muted {
    color: #f38ba8;
    box-shadow: inset 0 -3px #f38ba8;
}

#custom-media {
    /* background-color: #66cc99; */
    box-shadow: inset 0 -3px #66cc99;
    min-width: 100px;
}

#custom-media.custom-spotify {
    /* background-color: #66cc99; */
    box-shadow: inset 0 -3px #66cc99;
}

#custom-spotify{
    box-shadow: inset 0 -3px #66cc99;
}

#custom-media.custom-vlc {
    background-color: #ffa000;
}

#tray {
    /* background-color: #b4befe; */
    box-shadow: inset 0 -3px #b4befe;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #f38ba8;
}

#mpd {
    background-color: #66cc99;
    color: #2a5c45;
}

#mpd.disconnected {
    background-color: #f53c3c;
}

#mpd.stopped {
    background-color: #90b1b1;
}

#mpd.paused {
    background-color: #51a37a;
}
